﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href=@Url.Content("/Content/assets/css/icons/icomoon/styles.css") rel="stylesheet" type="text/css">
    <link href=@Url.Content("/Content/assets/css/bootstrap.css") rel="stylesheet" type="text/css">
    <link href=@Url.Content("/Content/assets/css/core.css") rel="stylesheet" type="text/css">
    <link href=@Url.Content("/Content/assets/css/components.css") rel="stylesheet" type="text/css">
    <link href=@Url.Content("/Content/assets/css/colors.css") rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/loaders/pace.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/core/libraries/jquery.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/core/libraries/bootstrap.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/loaders/blockui.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/ui/nicescroll.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/ui/drilldown.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/ui/fab.min.js")></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/visualization/d3/d3.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/visualization/d3/d3_tooltip.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/forms/styling/switchery.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/forms/styling/uniform.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/forms/selects/bootstrap_multiselect.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/ui/moment/moment.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/plugins/pickers/daterangepicker.js")></script>

    <script type="text/javascript" src=@Url.Content("/Content/assets/js/core/app.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/assets/js/pages/dashboard.js")></script>
    <!-- /theme JS files -->

</head>

<body class="navbar-bottom login-container m-10">
    <br />
    <br />
    <br />
    <br />
<!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Simple login form -->
                <form action="@Url.Action("PostResetPassword","Auth")" class="login-form" method="post">
                    <div class="panel panel-body">
                        <div style=" @ViewBag.color ">
                            @ViewBag.Message
                        </div>
                        <div class="text-center">
                            <h5 class="content-group">Reset Password<small class="display-block">Enter your new password below</small></h5>
                        </div>
                        <input type="hidden" class="form-control" readonly required name="Email" value="@ViewBag.Email">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="New password" required name="NewPassword">
                            <div class="form-control-feedback">
                                <i class="icon-lock text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Confirm password" required name="ConfirmPassword">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn bg-blue-400 btn-block">Reset <i class="icon-circle-right2 position-right"></i></button>
                        </div>
                        <a href="@Url.Action("Login","Auth")" class="pull-right content-group text-bold">Back To Sign In</a>
                    </div>
                </form>
                <!-- /simple login form -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
    <!-- Footer -->
    <div class="navbar navbar-default navbar-fixed-bottom footer">
        <div class="navbar-collapse collapse" id="footer">
            <div class="navbar-text">
                &copy; Waqas Ahmed <a href="#" class="navbar-link">Nodlays</a>
            </div>
        </div>
    </div>
    <!-- /footer -->
</body>
</html>
