﻿
@using WebApplication_MVC.Models

@{
    ViewBag.Title = "AdminViewUserBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="content d-flex align-items-lg-center">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title text-center">User Book Records<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                                        <div style="color: @ViewBag.color">@ViewBag.msg</div>
            </div>
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <div class="datatable-header">
                    @*<a href="@Url.Action("UseViewBook", "User")"><i class="icon-glyphicon-edit"></i> Search Book</a>*@
                    

                    @*<div class="align-items-lg-center  col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3" align="center">
                        <form action="@Url.Action("AdminViewUserBook","Admin")">
                            <div class="form-group">
                                <label>Search Book:</label>
                                <select class="form-control" tabindex="-1" aria-hidden="true" name="id" id="id">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id">@item.Title</option>
                                    }
                                </select>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-danger legitRipple align-items-lg-center ">Submit<i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </form>
                    </div>*@
                    <form action="@Url.Action("AdminViewUserBook", "Admin")">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <input type="text" name="Name" class="form-control" placeholder="Type to Search Name:..." />
                            </div>
                            <div class="form-group col-lg-4">
                                <input type="text" name="Title" class="form-control" placeholder="Type to Search Title:..." />
                            </div>
                            <div class="form-group col-lg-4">
                                <input type="text" name="Author" class="form-control" placeholder="Type to Search Author:..." />
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">
                                <button type="submit" class="btn btn-danger legitRipple">Submit<i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>
                    </form>

                </div>
                
                <div class="content d-flex align-items-lg-center">
                    <div class="panel panel-flat">

                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th>Sr.No</th>
                                        <th>User Name</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Issue Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @{
                                    var i = 0;
                                    foreach (Book item in ViewBag.Book)
                                    {
                                        i++;
                                        <tr role="row" class="odd">
                                            <td>@i</td>
                                            <td>@item.User.FirstName&nbsp;@item.User.LastName</td>
                                            <td>@item.Title</td>
                                            <td>@item.Auther</td>
                                            <td>@item.CreatedAt.Value.Date.ToLongDateString()</td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>