﻿@using WebApplication_MVC.BL
@using WebApplication_MVC.Models
@using WebApplication_MVC.Helping_Classes
@{ DatabaseEntities de = new DatabaseEntities();
    SessionDTO sdto = new SessionDTO();
    User loggedinUser = new UserBL().GetUserById(sdto.getId(), de); }

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Page.Title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/pickers/daterangepicker.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/dashboard.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/ripple.min.js"></script>

    <!-- /theme JS files -->
    @*@RenderSection("head", required: false)*@
</head>

<body>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="~/Content/assets/images/logo_light.png" alt=""></a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>

            </ul><div class="navbar-right">
                <p class="navbar-text">Morning,  @loggedinUser.FirstName @loggedinUser.LastName!</p>
                <p class="navbar-text"><span class="label bg-success-400">Online</span></p>
            </div>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">
            @{ if (loggedinUser.Role == 1)
                { <!-- Main sidebar -->
                                    <div class="sidebar sidebar-main sidebar-default">
                                        <div class="sidebar-content">

                                            <!-- User menu -->
                                            <div class="sidebar-user-material">
                                                <div class="category-content">
                                                    <div class="sidebar-user-material-content">
                                                        <h6>@loggedinUser.FirstName @loggedinUser.LastName</h6>
                                                        <span class="text-size-small">@loggedinUser.Email</span>
                                                    </div>

                                                    <div class="sidebar-user-material-menu">
                                                        <a href="#user-nav" data-toggle="collapse"><span>My account</span> <i class="caret"></i></a>
                                                    </div>
                                                </div>

                                                <div class="navigation-wrapper collapse" id="user-nav">
                                                    <ul class="navigation">
                                                        <li><a href="@Url.Action("profile", "Auth", new {id = loggedinUser.Id})"><i class="icon-user-plus"></i> <span>Admin profile settings</span></a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="@Url.Action("Logout", "Auth")"><i class="icon-switch2"></i> <span>Logout</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- /user menu -->
                                            <!-- Main navigation -->
                                            <div class="sidebar-category sidebar-category-visible">
                                                <div class="category-content no-padding">
                                                    <ul class="navigation navigation-main navigation-accordion">
                                                        <!-- Main -->
                                                        <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                                        <li class="active"><a href="@Url.Action("AdminDashboard", "Admin")"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                                        <li>
                                                            <a href="#"><i class="icon-stack2"></i> <span>User Management</span></a>
                                                            <ul>
                                                                <li><a href="@Url.Action("AdminViewUser", "Admin")">View User</a></li>
                                                                <li><a href="@Url.Action("AdminAddUser", "Admin")">Create User</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-stack2"></i> <span>User-Book Management</span></a>
                                                            <ul>
                                                                <li><a href="@Url.Action("AdminViewUserBook", "Admin")">View User-Book</a></li>
                                                            </ul>
                                                        </li>
                                                        <!-- /main -->
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- /main navigation -->
                                        </div>
                                    </div> <!-- /main sidebar --> }
                                else
                                { <!-- Main sidebar -->
                                                    <div class="sidebar sidebar-main sidebar-default">
                                                        <div class="sidebar-content">

                                                            <!-- User menu -->
                                                            <div class="sidebar-user-material">
                                                                <div class="category-content">
                                                                    <div class="sidebar-user-material-content">
                                                                        <h6>@loggedinUser.FirstName @loggedinUser.LastName</h6>
                                                                        <span class="text-size-small">@loggedinUser.Email</span>
                                                                    </div>

                                                                    <div class="sidebar-user-material-menu">
                                                                        <a href="#user-nav" data-toggle="collapse"><span>My account</span> <i class="caret"></i></a>
                                                                    </div>
                                                                </div>

                                                                <div class="navigation-wrapper collapse" id="user-nav">
                                                                    <ul class="navigation">
                                                                        <li><a href="@Url.Action("Profile", "auth", new {id = loggedinUser.Id})"><i class="icon-user-plus"></i> <span>User profile settings</span></a></li>
                                                                        <li class="divider"></li>
                                                                        <li><a href="@Url.Action("Logout", "Auth")"><i class="icon-switch2"></i> <span>Logout</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!-- /user menu -->
                                                            <!-- Main navigation -->
                                                            <div class="sidebar-category sidebar-category-visible">
                                                                <div class="category-content no-padding">
                                                                    <ul class="navigation navigation-main navigation-accordion">
                                                                        <!-- Main -->
                                                                        <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                                                        <li class="active"><a href="@Url.Action("UserDashBoard", "User" )"><i class="icon-home4"></i> <span>User Dashboard</span></a></li>
                                                                        <li>
                                                                            <a href="#"><i class="icon-stack2"></i> <span>Book Management</span></a>
                                                                            <ul>
                                                                                <li><a href="@Url.Action("UserViewBook", "User")">View Book</a></li>
                                                                                <li><a href="@Url.Action("UserAddBook", "User" )">Create Book</a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <!-- /main -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!-- /main navigation -->

                                                        </div>
                                                    </div> <!-- /main sidebar --> } }
            <!-- Main content -->
            <div class="content-wrapper">
                @RenderBody()
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
</body>
</html>