﻿@model IEnumerable<WebApplication_MVC.Models.Book>
@{
    ViewBag.Title = "UserViewBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-center">Do You Want to Delete??</h4>
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer text-center">
                <a class="btn btn-primary" id="deleteId">Yes</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="content d-flex align-items-lg-center">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title text-center">User Book Table<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                                        <div style="color: @ViewBag.color">@ViewBag.msg</div>
            </div>
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <div class="datatable-header">
                    <form action="@Url.Action("UserViewBook", "User")">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <input type="text" name="title" class="form-control" placeholder="Type to Search by title:..." />
                            </div>
                            <div class="form-group col-lg-4">
                                <input type="text" name="Email" class="form-control" placeholder="Type to Search by author:..." />
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">
                                <button type="submit" class="btn btn-danger legitRipple">Submit<i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </div>
                    </form>
                    </div>
                <div class="content d-flex align-items-lg-center">
                    <div class="panel panel-flat">
                        <div>
                            <table class="table dataTable no-footer" id="sampleTable">
                                <thead>
                                    <tr role="row">
                                        <th>Sr.No</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i = 0;
                                        foreach (var item in ViewBag.BookList)
                                        {
                                            i++;
                                            <tr role="row" class="odd">
                                                <td>@i</td>
                                                <td>@item.Title</td>
                                                <td>@item.Auther</td>
                                                <td class="text-center">
                                                    <ul class="icons-list">
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                <i class="icon-menu9"></i>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <li><a href="@Url.Action("UserEditBook", "User", new {id = item.Id})"><i class="glyphicon glyphicon-edit"></i> Edit Book</a></li>
                                                                <li><a onclick="deleteFunction(@item.Id)" data-toggle="modal" data-target="#deleteModal"><i class="glyphicon glyphicon-trash"></i> Delete Book</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('#sampleTable').DataTable();
    } );


    function deleteFunction(id) {
        var a = document.getElementById('deleteId');
        a.href = "../User/UserDeleteBook?id=" + id + "";
    }
</script>
